In [1]:
import pandas as pd
import sqlite3
import random
from contextlib import contextmanager

# Step 1: Generate sample weather data (similar to previous request)
def generate_sample_data(num_records=1000):
    years = list(range(1900, 2021))
    data = {
        'record_id': range(1, num_records + 1),
        'year': [random.choice(years) for _ in range(num_records)],
        'temperature_c': [random.uniform(-50, 50) for _ in range(num_records)]
    }
    return pd.DataFrame(data)

# Step 2: Simulate Hive database and table in SQLite
@contextmanager
def sqlite_connection(db_name):
    conn = sqlite3.connect(db_name)
    try:
        yield conn
    finally:
        conn.close()

def setup_hive_like_db():
    # Create a SQLite database (simulating Hive database)
    db_name = 'weather_hive.db'
    df = generate_sample_data(1000)

    with sqlite_connection(db_name) as conn:
        # Create table (simulating Hive CREATE TABLE)
        df.to_sql('weather_data', conn, if_exists='replace', index=False)

        # Create index on year (simulating Hive CREATE INDEX)
        conn.execute('CREATE INDEX idx_year ON weather_data(year)')

        # Create view (simulating Hive CREATE VIEW)
        conn.execute('''
            CREATE VIEW positive_temps AS
            SELECT record_id, year, temperature_c
            FROM weather_data
            WHERE temperature_c > 0
        ''')

    print(f"Database '{db_name}', table 'weather_data', index 'idx_year', and view 'positive_temps' created.")

# Step 3: User-Defined Function (UDF) to convert Celsius to Fahrenheit
def celsius_to_fahrenheit(temp_c):
    return (temp_c * 9/5) + 32

# Register UDF in SQLite
def register_udf(conn):
    conn.create_function('c_to_f', 1, celsius_to_fahrenheit)
    print("UDF 'c_to_f' registered.")

# Step 4: Generate weather report (min/max temps per year)
def generate_weather_report():
    db_name = 'weather_hive.db'
    with sqlite_connection(db_name) as conn:
        # Register UDF
        register_udf(conn)

        # Query table for min/max temps
        query_table = '''
            SELECT year,
                   MIN(temperature_c) AS min_temp_c,
                   MAX(temperature_c) AS max_temp_c
            FROM weather_data
            GROUP BY year
            ORDER BY year
        '''
        report_df = pd.read_sql_query(query_table, conn)

        # Query view with UDF for max temp in Fahrenheit
        query_view = '''
            SELECT year,
                   c_to_f(MAX(temperature_c)) AS max_temp_f
            FROM positive_temps
            GROUP BY year
            ORDER BY year
        '''
        view_df = pd.read_sql_query(query_view, conn)

        # Merge results
        result = report_df.merge(view_df, on='year', how='left')
        result['max_temp_f'] = result['max_temp_f'].round(1)
        result['min_temp_c'] = result['min_temp_c'].round(1)
        result['max_temp_c'] = result['max_temp_c'].round(1)

    return result

# Step 5: Run the POC
if __name__ == "__main__":
    print("Setting up Hive-like environment...")
    setup_hive_like_db()

    print("\nGenerating Weather Temperature Statistics Report...")
    report = generate_weather_report()

    print("\n=== Weather Report ===")
    print("Year\tMin Temp (°C)\tMax Temp (°C)\tMax Temp (°F)")
    print("-" * 50)
    for _, row in report.iterrows():
        print(f"{int(row['year'])}\t{row['min_temp_c']}\t\t{row['max_temp_c']}\t\t{row['max_temp_f']}")

    print("\nSample data from view (first 5 rows):")
    with sqlite_connection('weather_hive.db') as conn:
        sample_view = pd.read_sql_query('SELECT * FROM positive_temps LIMIT 5', conn)
        print(sample_view)

Setting up Hive-like environment...
Database 'weather_hive.db', table 'weather_data', index 'idx_year', and view 'positive_temps' created.

Generating Weather Temperature Statistics Report...
UDF 'c_to_f' registered.

=== Weather Report ===
Year	Min Temp (°C)	Max Temp (°C)	Max Temp (°F)
--------------------------------------------------
1900	-43.0		27.8		82.1
1901	-43.0		41.8		107.2
1902	-47.9		48.2		118.7
1903	-45.5		44.8		112.7
1904	-45.6		32.9		91.3
1905	-10.8		23.1		73.6
1906	-46.4		36.3		97.4
1907	-34.3		47.3		117.2
1908	-26.8		48.2		118.8
1909	-46.8		29.9		85.7
1910	-37.0		33.2		91.7
1911	-48.6		42.5		108.5
1912	-49.3		27.1		80.8
1913	-44.2		35.7		96.2
1914	-31.4		48.9		120.0
1915	-36.5		19.1		66.4
1916	-48.6		-9.0		nan
1917	-44.0		42.8		109.0
1918	-47.9		48.0		118.4
1919	-39.7		30.2		86.4
1920	-24.0		47.8		118.0
1921	-37.9		25.3		77.6
1922	-44.5		17.8		64.0
1923	-49.4		49.6		121.2
1924	-45.1		24.0		75.3
1925	-45.0		25.9		78.6
1926	-33.5		46.2		115.2
1927	-36.8		7.9		46.3
1928	-10.9		42.3		108.2
1929	-13.8		45.5		113.9
1930	-45.9		39.6		103.3
1931	-18.5		39.7		103.5
1932	-36.5		49.8		121.6
1933	-42.3		49.6		121.2
1934	-29.5		45.7		114.3
1935	-49.2		36.5		97.6
1936	-47.4		46.9		116.4
1937	-47.3		46.0		114.8
1938	-27.4		47.7		117.8
1939	-38.4		47.8		118.0
1940	-46.7		34.7		94.5
1941	-50.0		33.7		92.7
1942	-40.7		35.3		95.5
1943	-42.9		49.4		121.0
1944	-13.1		29.1		84.4
1945	-16.9		42.9		109.2
1946	-36.1		43.9		111.0
1947	-15.4		42.8		109.1
1948	-28.4		47.3		117.1
1949	-39.3		39.6		103.2
1950	-38.1		50.0		122.0
1951	-42.9		47.3		117.2
1952	-46.5		42.3		108.1
1953	-48.0		34.3		93.7
1954	-14.3		46.9		116.4
1955	-49.0		32.6		90.6
1956	-47.0		31.4		88.5
1957	-45.9		24.8		76.7
1958	-24.0		29.2		84.5
1959	-49.7		26.1		79.0
1960	-45.3		44.1		111.3
1961	-40.9		32.4		90.3
1962	-42.4		48.8		119.8
1963	-47.3		48.0		118.3
1964	-49.9		45.6		114.1
1965	-44.2		44.1		111.4
1966	5.3		35.6		96.2
1967	-48.9		49.7		121.4
1968	-39.0		48.8		119.8
1969	-14.4		40.8		105.4
1970	-30.8		43.8		110.8
1971	-47.4		33.3		92.0
1972	-43.9		24.6		76.3
1973	-25.6		38.0		100.5
1974	-48.2		43.8		110.8
1975	-49.1		38.5		101.3
1976	-47.9		47.2		117.0
1977	-47.7		27.1		80.7
1978	-39.2		49.1		120.4
1979	-29.0		21.5		70.8
1980	-41.0		42.5		108.5
1981	-27.1		22.9		73.2
1982	10.0		43.1		109.6
1983	-40.4		36.8		98.2
1984	-42.6		42.9		109.1
1985	-36.1		43.9		111.0
1986	-49.2		49.2		120.5
1987	-46.8		22.9		73.1
1988	-47.4		50.0		122.0
1989	-46.7		49.8		121.7
1990	-43.2		44.4		112.0
1991	-48.8		46.1		114.9
1992	-46.9		35.1		95.2
1993	-49.7		38.2		100.7
1994	-33.5		40.2		104.4
1995	-43.1		45.6		114.1
1996	-49.8		49.7		121.5
1997	-23.1		33.3		92.0
1998	-32.9		26.7		80.1
1999	-49.7		49.0		120.2
2000	-39.2		34.6		94.2
2001	-32.4		48.5		119.2
2002	-36.6		32.2		89.9
2003	-34.4		34.2		93.6
2004	-37.0		42.9		109.2
2005	-49.0		43.4		110.1
2006	-48.8		41.0		105.9
2007	-42.4		20.2		68.3
2008	-46.1		47.7		117.8
2009	-31.5		35.7		96.2
2010	-34.9		39.7		103.5
2011	-37.4		31.6		88.8
2012	-47.9		6.7		44.0
2013	-7.2		46.2		115.2
2014	-45.6		49.8		121.6
2015	-42.9		49.1		120.5
2016	-48.4		46.0		114.9
2017	-44.6		31.6		88.9
2018	-37.8		48.2		118.7
2019	-44.7		35.7		96.3
2020	-22.3		49.9		121.9

Sample data from view (first 5 rows):
   record_id  year  temperature_c
0          1  1974      43.781926
1         11  1966       5.499989
2         13  1964      45.638823
3         19  1932      49.768995
4         20  1921      25.323270